html {
  font-size: 62.5%;
}

body {
  width: 100vw;
}

.body-cart {
  height: calc(100vh - 10rem);
  background-color: #dedede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100%;
  padding-top: 10rem;
}

#root-cart {
  width: 100%;
  height: 100%;
}
