.container-products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.list-products {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
