.container-products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}

.list-products {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.products-title-filtered {
  width: 100%;
  text-align: start;
  padding-left: 2rem;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .container-products {
    padding-top: 8rem;
  }
}
