.input-search {
  width: 35rem;
  height: 6rem;
  font-size: 1.6rem;
  padding-left: 2rem;
  outline: none;
}

@media screen and (max-width: 768px) {
  .input-search {
    width: 100%;
    order: 2;
  }
}

@media screen and (max-width: 428px) {
  .input-search {
    height: 5rem;
  }
}
