.container-cart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
.info-wrapper-products-cart {
  width: 100%;
}

.cart-content {
  width: 83.6rem;
  height: 100%;
  padding: 2rem;
}
.icon-home-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.icon-home-wrapper:hover {
  color: red;
}
.icon-home-wrapper-title {
  font-size: 1.6rem;
  transition: 300ms;
}

.cart-content-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2rem;
}

.total-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13rem;
  margin-bottom: 3rem;
}

.list-card-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  padding: 0;
}

.list-card-cart::-webkit-scrollbar-track {
  background-color: transparent;
}

.list-card-cart::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.buy-content {
  height: 52rem;
  width: 35.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
}

.buy-content-wrapper {
  width: 100%;
}

.buy-title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;
}

.text-buy {
  font-size: 1.6rem;
  font-weight: 400;
}

.space-elements {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.division {
  width: 100%;
  height: 1px;
  background-color: #dedede;
  margin-bottom: 1.2rem;
}

.box-total-text {
  font-size: 1.6rem;
  font-weight: 600;
}
.box-total-price {
  font-size: 1.6rem;
  font-weight: 600;
}

.button-buy {
  height: 4.4rem;
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: 500ms;
}

.button-buy:active {
  transform: scale(0.95);
}

.consume-attention {
  width: 100%;
}
.consume-attention-list {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-consumer {
  font-size: 1.4rem;
  font-weight: 500;
  color: #737380;
  text-decoration: none;
  margin-bottom: 1.6rem;
  transition: 300ms;
}

.link-consumer:hover {
  text-decoration: underline;
}

.not-product-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-cart-not {
  width: 12rem;
  margin-bottom: 4rem;
}

.not-text {
  font-size: 2rem;
}

@media screen and (max-width: 1440px) {
  .container-cart {
    height: calc(100vh - 10rem);
  }

  .cart-content {
    height: 47rem;
  }
}

@media screen and (max-width: 1440px) {
  .cart-content {
    height: 90%;
  }

  .buy-content {
    height: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .cart-content {
    height: 57rem;
    display: flex;
    flex-direction: column;
  }
  .buy-content {
    width: 78.8rem;
    height: 40rem;
  }

  .not-text {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .cart-content {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
  }

  .buy-content {
    width: calc(100% - 0.5rem);
  }
}

@media screen and (max-width: 428px) {
  .not-product-box img {
    width: 9rem;
  }

  .not-text {
    font-size: 1.6rem;
  }

  .text-buy {
    font-size: 1.4rem;
  }
}
