.footer-container {
  width: 100%;
  padding: 1.5rem 0;
  padding-bottom: 5rem;
}

.wrapper-icons-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box-icons-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon-footer {
  margin-bottom: 1.5rem;
}

.box-text {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .box-icons-footer {
    width: 20%;
    text-align: center;
  }
  .icon-footer {
    width: 7rem;
  }

  .box-text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 428px) {
  .wrapper-icons-footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .box-icons-footer {
    width: 50%;
    margin-bottom: 5rem;
  }

  .icon-footer {
    width: 8rem;
  }

  .box-text {
    font-size: 1.8rem;
  }
}
